# Use root/example as user/password credentials
name: spring-testing
services:
    db:
        image: mysql:8.0.36
        restart: always
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: example
            MYSQL_DATABASE: spring_testing
        # (this is just an example, not intended to be a production configuration)